img {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.scale-up-center {
    animation: scale-up-center 1s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}