/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.glass-content {
    background: rgba(19, 63, 176, 0.27);
    box-shadow: 0 4px 30px rgba(7, 77, 216, 0.1);
    backdrop-filter: blur(25.3px);
    -webkit-backdrop-filter: blur(25.3px);
    width: 100%;
    min-height: 100vh;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-content {
    --ion-background-color: url(/assets/img/bg.gif);
    --color: white;
}

ion-header {
    background: url(/assets/img/bg.gif);
}

ion-toolbar {
    --background: transparent;
    background: rgba(19, 63, 176, 0.27);
    box-shadow: 0 4px 30px rgba(7, 77, 216, 0.1);
    backdrop-filter: blur(25.3px);
    -webkit-backdrop-filter: blur(25.3px);
    color: white;
}


ion-card {
    margin: 20px;
    background: rgba(7, 7, 7, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

ion-item {
    --background: transparent;
    color: white;
}

ion-icon {
    color: white;
}

.loader {
    text-align: center;
    padding-top: 15vh;

    ion-spinner {
        padding: 50px;
        --color: white;
    }
}

p {
    font-size: 1em;
}